/* Reset Layout */

@font-face {
    font-family: AdventPro;
    src: url(fonts/AdventPro.ttf);
}

body, h1, h2, h3, h4, p {
	margin:0;
	padding:0;
	font-family: AdventPro;
}

/* Global Style */

.row {
	width:100%;
	display:block;
}
.row .col-2 {
	width:50%;
	float:left;
}
.row .col-3 {
	width:30.33%;
	float:left;
}
.row .col-4 {
	width:20%;
	float:left;
}
.btn {
    border: 1px solid black;
    color: black;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 0.5em;
    display: inline-block;
}
.btn-reverse {
	background: #404142;
    color: white;
    border: 1px solid #595a5b;
}
.btn:hover {
	background: #4e53db;
    border: 1px solid #5d61d8;
    color: white;
    transition:0.1s ease;
}
.btn-big {
	padding: 1em;
	border-radius: 6px;
    
}

/* Main Style */
header {
	background:url(img/bc_bg.png) repeat;
}
header .top {
	margin:2em 0;
	display:inline-block;
}
header .top .logo {
	float:left;
	width:39%;
}
header .top .ads {
	float:left;
	width:60.8%;
}
header .top .ads .cnt {
	border:1px solid white;
	width:100%;
	color:white;
	text-align: center;
	min-height: 80px;
}
header .logo img {
	max-height:5em;
	width:auto;
}
header .menu a {
	text-decoration: none;
	color:white;

}
header .menu {
	background: #d46513;
}
header .menu .main {
	padding:0;
	margin:0;
	display:inline-block;
}
header .menu .main li {
	list-style: none;
    float: left;
    padding: 0.8em 1em 0.5em 1em;
    margin: 8px 0 0 12px;
}
header .menu .main .active, header .menu .main li:hover  {
	background: #efefef;
    border-radius: 5px 5px 0em 0em;
}
header .menu .main .active a, header .menu .main li:hover a {
	color:black;
}
header .second-menu {
    background: #efefef;
    padding: 0.8em;
}
header .second-menu ul {
	list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    display: inline-block;
}
header .second-menu ul li a{
	color:black;
	text-decoration: none;
}
header .second-menu ul li {
	float: left;
    text-decoration: none;
    color: black;
    border-left: 1px solid;
    padding: 0em 0.5em;
}
header .second-menu ul li:last-child {
    border-right: 1px solid;
}
.container {
	width:96%;
	margin:0 auto;
}
#intro {
    background: url(img/intro.jpg) #333333;
    background-size: cover;
    background-blend-mode: multiply;
    display: inline-block;
    padding: 3.3em 0;
    color: white;
}
.content {
	display:inline-block;
	margin-bottom:2em;
	padding-bottom:2em;
	border-bottom:1px solid;
}
#intro .question {
	float: left;
    width: 30%;
    padding: 3em 3em;
}
#intro .question h2 {
	background: #404142;
    display: inline-block;
    padding: 0.5em;
}
#intro .question p {
	background: #0a771c;
    display: inline-block;
    padding: 0.5em 0.8em;
}
#intro .answer{
    float: left;
    width: 56%;
    padding: 2em;
    border: 1px solid;
    border-radius: 6px;
}
#intro .sosmed {
	text-align: center;
}
#intro .sosmed a {
	color:white;
	text-decoration: none;
	font-size:4em;
	letter-spacing: 20;
}
#services {
	background:url(img/services.jpg);
	background-size:cover;
	width:100%;
	padding: 32px 0;
	display:inline-block;
	color:white;
}
#services .info {
	margin-bottom:1em;
}
#services .info h2 {
	font-size: 1.7em;
	text-align:center;
	font-weight: 100;
}
#services .info p {
	text-align: center;
}

#services .item {
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 0.6em;
    text-align: center;
    margin-right: 1em;
    background: #efefef;
    color: black;
}
#services .item h3 {
	font-size:1.5em;
	font-weight: 100;
	text-align: center;
}
#services .item .thumb {
	width: 4em;
    height: 4em;
    display: inline-block;
    background: #32326b;
    border-radius: 128px;
    border: 1px solid #45456b;
    padding: 1em;
    margin: 1em 0;
}
#services .item .thumb .fa {
	color:white;
	font-size:4em;
}
#portofolio {
	padding:32px 0;
	display: inline-block;
    width: 100%;
    background: url(img/portofolio.png);
}
#portofolio .info {
	width: 34.2%;
    float: left;
    display: block;
    margin-right: 3%;
    border-right: 1px solid;
}
#portofolio .item {
    width: 60%;
    display: inline-block;
    float: left;
}
#portofolio .item .preview {
	width: 35%;
    float: left;
    margin-right: 5%;
}
#portofolio .item .preview img {
	width: 100%;
    border-radius: 6px;
}
#portofolio .item .info-port {
	width:60%;
	float:left;
}
footer{
	width:100%;
	height:200px;
	display:block;
	background:url(img/bc_bg.png) repeat;
	color:white;
}
footer .item {
	margin-right:2.42em;
}

footer .subscribe {
	padding: 0.5em;
    width: 100%;
    margin-top:1em;
}
footer h2{
	border-bottom: 1px solid;
    padding: 0.4em 0;
    margin-top: 0.4em;
    font-weight: 100;
    font-size: 1.4em;
}
footer .desc {
	margin-top:1em;
	padding-bottom:2em;
}
footer .bottomline {
	background:#692399;
	color:white;
	width:100%;
	float:left;
	padding: 0.5em 0;
}


